/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: Futura, sans-serif;
}

body {
  margin: 0;
}

header ul {
 list-style: none;
 background-color: #7280B3;
 margin: 0;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}

header ul li:first-child {
  text-align: left;
  flex: 2;
}

header ul li {
  text-align: center;
 display: inline-block;
 min-width: 100px;
 flex: 1;
}

header ul li a {
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

header a:hover {
  color: #000000;
}

a:link {
  color: #7280B3;
  text-decoration: none;
}
a:visited {
  color: #800000;
}
a:hover {
  color: #000000;
}

form div {
  margin: 20px;
}

form div label {
  display: inline-block;
  min-width: 100px;
}

form input[type="text"] {
  border: solid 1px #ccc;
  min-height: 20px;
}
